<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SupermarketTuto.Properties.Settings.FoodIndexConnectionString" connectionString="Data Source=DIDIERKERE;Initial Catalog=FoodIndex;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SupermarketTuto.Properties.Settings.FoodIndexConnectionString1" connectionString="Data Source=DIDIERK\SQLEXPRESS;Initial Catalog=FoodIndex;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FoodIndexEntities" connectionString="metadata=res://*/Database.FoodIndex.csdl|res://*/Database.FoodIndex.ssdl|res://*/Database.FoodIndex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIDIERKERE;initial catalog=FoodIndex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FoodIndexEntities1" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIDIERKERE;initial catalog=FoodIndex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FoodIndexEntities2" connectionString="metadata=res://*/Database.ERR_Diagram.csdl|res://*/Database.ERR_Diagram.ssdl|res://*/Database.ERR_Diagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIDIERK\SQLEXPRESS;initial catalog=FoodIndex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FoodIndex1Entities" connectionString="metadata=res://*/Database.FoodIndex.csdl|res://*/Database.FoodIndex.ssdl|res://*/Database.FoodIndex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIDIERKERE;initial catalog=FoodIndex1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>